.pages .content h2 {
    padding: 1em 10px 1em;
}

.dragslider h2{
    font-size: 5.5em;
}

.dragslider h2 span {
    padding-top: 0.6em;
     line-height: 1.2;
    
}

.pages .content h2{
    font-size: 4em;
}

.p-b-20{
    padding-bottom: 20px !important ;
}

.img-wrap{
    background: #2f4f4f;
    background: #000;
}

.pages .content h2 span{
    color: #748182;
}

@media screen and (max-width: 63.125em) {
	.dragslider h2 {
		font-size: 4em;
	}
	.pages .content {
		font-size: 100%;
	}
	.pages .content h2 {
		font-size: 2em;
	}

}